.submit {
    color: black;
}

form {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    height: 2em;
    width: 100%;
}

h2 {
    font-size: 25pt;
    margin-top: none;
}

input {
    border-radius: 3px;
    border-color: blue;
}

button {
    color: green;
    border-radius: 3px;
    text-decoration: none;
    color: green;
    user-select: none; /*убирает выделение текста*/
    background: LightGrey;
    border-color: DimGrey;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: -2px;
}

button:hover {
    background: LightGrey;
    color: red;
}

input.colortext:hover {
    color: red;
}

.colortext {
    color: green;
}
