
#hdr {
    background: red;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, red 50%, white 140%);
}

.TEAM {
    height: 50px;
    width: 100px;
    display: none;
}

.EMEMIES {
   height: 50px;
   width: 100px;
}

.menu {
    background: rgb(211, 210, 210);
}

.TEAM a {
    display: block;
}

.TEAM:hover {
    display: block;
}
